<div class="container">
    <h1>{{vm.teste}}</h1>
</div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" ng-model="vm.cliente.nome" placeholder="Nome Cliente">
        </div>
        <div class="mb-3">
            <label for="rg">RG:</label>
            <input type="text" class="form-control" id="rg" ng-model="vm.cliente.rg" placeholder="RG do Cliente">
        </div>
    </form>
    <button type="button" class="btn btn-primary" ng-click="vm.cadastrar()">{{vm.textBotao}}</button>
    <button type="button" class="btn btn-secondary" ng-click="vm.limpar()">Limpar</button>
</div>